html {
    background-color: #000;
    font-family: candara, Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
body {
    background-color: #666;
    margin: 0px;
}
#navigationArea ul {
    line-height: 1.5em;
}
.navButton {
    background-color: #e8fbff;
    border: 2px solid #e8fbff;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    width: 100%;
}
.navButton:hover {
    border-color: #000;
}
.activeNav {
    border: 2px solid #000;
}
.hide {
    display: none;
}
.active {
    display: block;
}
hr {
    background-color: #000;
    border-width: 0px;
    color: #000;
    height: 2px;
}
canvas {
    margin: 12px;
}
.roundBorder {
    border:2px solid #000;
    border-radius:5px;
}
footer a:link {
    color: #bbb;
}
footer a:visited {
    color: #bbb;
}
footer a:hover {
    color: #82e9ff;
}
footer a:active {
    color: #82e9ff;
}
#mainDiv {
    background-color: #e8fbff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 8px #000;
    margin: 1em auto;
    padding: 0.25em 2%;
    width: 80%;
}

/* Para telas pequenas */
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

/* Para telas médias */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* Para telas grandes */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}